@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  /* FONT FAMILY */
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary:'Poppins', sans-serif;


/* FONT COLOR */
/* ### Primary */

--Pink: hsl(322, 100%, 66%);
--white:#fff;
/* ### Neutra- */

--Very-Pale-Cyan: hsl(193, 100%, 96%);
--Very-Dark-Cyan: hsl(192, 100%, 9%);
--Grayish-Blue: hsl(208, 11%, 55%);
}

html{
  box-sizing: border-box;
  font-size: 62.5%;
}
*,*::before,*::after{
  box-sizing: inherit;
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
body{
  text-align: center;
  font-family: var(--ff-primary);
  line-height: 1.6;
}
.container{
  width:clamp(30rem,90vw,130rem);
  padding: 3rem 0;

 margin-inline:  auto;
  margin-bottom: 3rem;
}
img{
  width: 100%;
}

.flex{
  display: flex;
  flex-direction: column;
}
.btn{
  border: none;
  border-radius: 5rem;
  font-family: var(--ff-secondary);
  font-weight: 600 ;
  color: var(--Very-Dark-Cyan);
  font-size: clamp(1.2rem,2vw,1.4rem);
}
h1,h2,p{
  margin-bottom: 2rem;
}
h1,h2{
  color: var(--Very-Dark-Cyan);
  font-weight: 700 ;
  font-family: var(--ff-secondary);
}
h1{
  font-size: clamp(2.5rem,5vw,3.8rem);
}
h2{
  font-size: clamp(1.8rem,4vw,2.8rem);
}
p,li{
  font-size: clamp(1.45rem,3.5vw,1.7rem);
  font-weight: 400;
  
}
.box-shadow{
  box-shadow: 2px 2px 20px 2px rgba(0,0,0,0.05);
}
/* HEADER SECTION */
.header{
  background-color: var(--Very-Pale-Cyan);
  padding: 2rem 0;
}
.bg-header{
  background: url(./images/bg-hero-mobile.svg)no-repeat right center;
  background-size: cover;
}
.nav{
  margin-bottom: 8rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;

} 
.nav-logo{
  width:clamp(12rem,15vw,20rem);
}
.btn-white{
  background-color: var(--white);
  padding: 0.6rem 3rem;
}
.btn-white:hover{
  color: var(--Grayish-Blue);
  cursor: pointer;
}
.header-sec{
  padding:0 2.5rem;
  gap:5rem;
  align-items: center;
}
.btn-pink{
  background-color: var(--Pink);
  padding: 1rem 6rem;
  color: var(--Very-Pale-Cyan);
  margin: 1rem 0;
}

/* MAIN SECTION */
main{
  padding: 15rem 0 25rem 0;

}

main div.container{
  margin-bottom: 0;
  gap: 4rem;
}
.box{
  border-radius: 1rem;
  padding:3.5rem;
  align-items: center;
  gap:3.5rem;
}
.box-info{
  color: var(--Grayish-Blue);
}
.box:not(.box-2){
  flex-direction: column-reverse;
}

/* Small Box */
.small-box{
  margin:-15rem auto 5rem auto;
  padding: 5rem 2rem;
  z-index: 1;
  background-color: var(--white);
  border-radius: 1rem;
  width: min(98%, 75rem);
  text-align: center;
}
.btn-light-pink{
 padding:1rem 5rem;
 background-color:var(--Pink) ;
 box-shadow: 2px 4px 25px  rgba(0,0,0,0.2);
 color: var(--Very-Pale-Cyan);
}
.btn-light-pink:hover,
.btn-pink:hover{
  cursor: pointer;
  background-color:hsla(322, 100%, 66%,0.7);
}


/* FOOTER SECTION */
footer {
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Cyan);
  text-align: left;
  margin: 0 -1rem;
}
footer div.container{
  margin-bottom: 0;
}
.footer-img{
  width:clamp(15rem,15vw,21rem);
  margin-bottom: 3rem;
}

footer div.links div:first-child{
  margin-bottom:3rem;
}
footer div.links col:not(.fourth-col){
  align-items: flex-start;
  gap:1rem;
}
.first-col{
  align-items: flex-start;
  gap: 2rem;
}
.first-col .flex{
  justify-content: space-between;
  flex-direction: row;
  gap:2rem;
}
.first-col ul li img{
  width: 1.5rem;
  height: 1.5rem;
  margin-top: 0.5rem;
}
.first-col ul li{
 
  align-self: flex-start;
}
.links .first-col ul li:last-child{
  padding-right: 3rem;
}
.col:not(.first-col,.fourth-col) ul li:not(:last-child){
  margin-bottom: 1rem;
}
.col:not(.first-col,.fourth-col) ul li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.third-col{
  margin-bottom: 3rem;
}
.fourth-col .flex{
  flex-direction: row;
  align-items: center;
  justify-content: center;
 text-align: center;
 margin-bottom: 3rem;
 gap: 2rem;
}
.fourth-col .flex li{
  width: 3.5rem;
  height:3.5rem;
  border-radius: 50%;
  border: 1px solid var(--Very-Pale-Cyan);
}
.fourth-col .flex li:hover{
  cursor: pointer;
  border: 1px solid var(--Pink) ;
}
.fourth-col .flex li i{
  font-size: 1.5rem;
  padding: 1rem;
 
}
.fourth-col .flex li i:hover{
  cursor: pointer;
  color:var(--Pink) ;
}
.footer-copyright{
  text-align: center;
}
@media (min-width:1000px) {
  body{
    text-align: left;
  }
  .flex:not(main div.container,.first-col){
    flex-direction: row;
  }
  .btn{
    margin: 0;
  }
  .btn-white{
    padding: 1rem 6rem;
  }
  .btn-pink{
    padding: 1rem 8rem;
  }
  .btn-light-pink{
    padding: 2rem 10rem;
  }
  
  .bg-header{
    background: url(./images/bg-hero-desktop.svg)no-repeat right center;
    background-size: cover;
  }
  .header-sec{
    padding: 0;
    gap:6rem;
  }
  .hdr-left-sec{
    width: 65%;
  }
  .box{
   gap:10rem;
    padding: 3rem 3rem 3rem 11rem;
  }
  .box article{
   width: 84%;
  }

  .links{
    justify-content: space-between;
    gap: 5rem;
  }

  .col{
    flex: 1;

  }
  .first-col{
    flex:2;
  }
  
  .fourth-col .flex{
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin: 0;
  }
 .footer-copyright{
  text-align: right;
 }
}